{% extends 'blog/base.html' %}

{% block content %}
    {% if validlink %}
        <p>Entrez et confirmez votre nouveau mot de passe.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nouveau mot de passe :</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmez le mot de passe:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Changer mon mot de passe" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Echec du reset.</h1>
        <p>Le lien du reset n'est pas valid, peut-être car il a déjà été utilisé. Veuillez demander un nouveau lien.</p>
    {% endif %}
{% endblock %}